# General:
dlhpcstarter
duckdb
isort
lightning
pandas
torch
torchmetrics
torchvision
transformers

# Project specific:
timm

# Demonstration:
streamlit

# Metrics:
bert-score
f1chexbert
green-score
nltk
rouge-score

# For RadGraph:
git+https://github.com/aehrc/radgraph.git

# Results:
patchworklib
pingouin
plotnine
pypdf
