# General:
dlhpcstarter
duckdb
pandas
sentencepiece
tensorboard
torchmetrics
transformers==4.40.*  # While this issue is being resolved: https://github.com/huggingface/transformers/issues/31171

# Project specific:
timm

# Metrics:
bert-score
pycocoevalcap
pycocotools
